%nav.side-bar{"data-sidebar" => true, :style => "position: absolute; left: 50px; top: 20px; width: 230px" }
  %dl.accordion{"data-accordion" => ""}
    %dd
      %a{href: "#panel1c"} The first one
      #panel1c.content
        lorem ipsum, quia dolor sit,
        %br amet, consectetur, adipisci
        %br velit, sed quia non numquam
        %br eius modi tempora incidunt,
        %br ut labore et dolore magnam
        %br aliquam quaerat voluptatem.
        %br Ut enim ad minima veniam, 
        %br quis nostrum exercitationem
    %dd
      %a{href: "#panel2c"} Another one
      #panel2c.content
        lorem ipsum, quia dolor sit,
        %br amet, consectetur, adipisci
        %br velit, sed quia non numquam
        %br eius modi tempora incidunt,
        %br ut labore et dolore magnam
        %br aliquam quaerat voluptatem.
        %br Ut enim ad minima veniam, 
        %br quis nostrum exercitationem
    %dd
      %a{href: "#panel3c"} One more
      #panel3c.content
        lorem ipsum, quia dolor sit,
        %br amet, consectetur, adipisci
        %br velit, sed quia non numquam
        %br eius modi tempora incidunt,
        %br ut labore et dolore magnam
        %br aliquam quaerat voluptatem.
        %br Ut enim ad minima veniam, 
        %br quis nostrum exercitationem
    %dd
      %a{href: "#panel4c"} Something else
      #panel4c.content
        lorem ipsum, quia dolor sit,
        %br amet, consectetur, adipisci
        %br velit, sed quia non numquam
        %br eius modi tempora incidunt,
        %br ut labore et dolore magnam
        %br aliquam quaerat voluptatem.
        %br Ut enim ad minima veniam, 
        %br quis nostrum exercitationem        
    %dd
      %a{href: "#panel5c"} Anything else
      #panel5c.content
        lorem ipsum, quia dolor sit,
        %br amet, consectetur, adipisci
        %br velit, sed quia non numquam
        %br eius modi tempora incidunt,
        %br ut labore et dolore magnam
        %br aliquam quaerat voluptatem.
        %br Ut enim ad minima veniam, 
        %br quis nostrum exercitationem
    %dd
      %a{href: "#panel6c"} The last one
      #panel6c.content
        lorem ipsum, quia dolor sit,
        %br amet, consectetur, adipisci
        %br velit, sed quia non numquam
        %br eius modi tempora incidunt,
        %br ut labore et dolore magnam
        %br aliquam quaerat voluptatem.
        %br Ut enim ad minima veniam, 
        %br quis nostrum exercitationem